.list {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    /* Ensure container has height */
}

.item-wrapper {
    position: absolute;
    will-change: transform, width, height, opacity;
    padding: 6px;
    cursor: pointer;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.item-wrapper>.item-img {
    position: relative;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.item-wrapper:hover>.item-img {
    box-shadow: 0px 20px 60px -10px rgba(0, 0, 0, 0.35);
}